## Legal Disclaimer 👮

This project is not affiliated with Bitwarden Inc or the Bitwarden brand.

"Bitwarden" is a trademark of Bitwarden Inc.

Other trademarks referenced herein are property of their respective owners.